In [1]:
print('Hello World!')

Hello World!

In [2]:
print('White Christmas') # Shift + Enter

White Christmas

# 01 Variable
variable은 영어로 써야 해요. 숫자로 시작하면 안 됩니다!

In [3]:
first = 5

In [4]:
0first = 5

SyntaxError: invalid syntax (Temp/ipykernel_29048/1441020419.py, line 1)

In [5]:
First = 6

In [6]:
# 파이썬은 대소문자를 구별해요!
first

5

In [7]:
First

6

# 02 Numbers
함수 type()은 괄호 안에 넣은 데이터의 datatype을 보여줍니다.

In [8]:
type(27)

int

In [9]:
type(91323.78932)

float

In [10]:
type(40.0)

float

## 2-1 Calculation

In [11]:
3+4

7

In [12]:
3-4

-1

In [13]:
3*4

12

In [14]:
3*4.0

12.0

In [15]:
3/4

0.75

In [16]:
3/4.0

0.75

In [17]:
3*4.000

12.0

In [18]:
3**4

81

In [19]:
3+4.0

7.0

In [20]:
9/5

1.8

In [21]:
9//5

1

In [22]:
9%5

4

## 2-2 Type changing
- 함수 int() 는 괄호 안에 있는 숫자를 integer로 바꿔줍니다.
- 함수 float() 은 괄호 안에 있는 숫자를 float으로 바꿔줍니다.

In [23]:
9/5

1.8

In [24]:
int(9/5)

1

In [25]:
float(1)

1.0

In [26]:
print(type(9/5))
print(type(int(9/5)))

<class 'float'>
<class 'int'>

# 03 String

In [27]:
'python'

'python'

In [28]:
"python"

'python'

In [29]:
"My dog's ball"

"My dog's ball"

In [30]:
type(3)

int

In [31]:
type('3')

str

In [32]:
type('3.0')

str

In [33]:
'python"

SyntaxError: EOL while scanning string literal (Temp/ipykernel_29048/629688603.py, line 1)

파이썬의 대원칙! 열어주면 닫아준다, 근데 시작한 거랑 같은 거로 닫아줘야 한다.

e.g.) 큰 따옴표로 열어주면 큰 따옴표로 닫아야 한다.

In [34]:
food = "Python's favorite food is mouse."

In [35]:
food

"Python's favorite food is mouse."

Life is too short.

You need Python.

이 문장을 입력하려면 어떻게 해야 할까요?

In [36]:
python = "Life is too short\nYou need python"

In [37]:
print(python) # \n을 쓰면 한 줄 띄어주는구나!

Life is too short
You need python

## 3-1 String Calculation

### (1) string과 string의 덧셈

In [38]:
head = 'python'
tail = ' is fun!'

In [39]:
head+tail

'python is fun!'

In [40]:
'python'+' is fun!'

'python is fun!'

### (2) string과 integer의 곱셈

In [41]:
a = 'apple'
a*5

'appleappleappleappleapple'

In [42]:
'apple'*5

'appleappleappleappleapple'

In [44]:
'lemon'*3.0

TypeError: can't multiply sequence by non-int of type 'float'

In [43]:
# string끼리 곱셈은 안 됩니다!
a = 'apple'
b = 'banana'
a*b

TypeError: can't multiply sequence by non-int of type 'str'

### (3) string 끼리 뺄셈 ??

In [45]:
'python' - 'on'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### (4) string끼리 나눗셈 ??

In [46]:
'python' / 'n'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [47]:
# string과 integer의 나눗셈도 안 돼요!
'python' / 6

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## 3-2 여러 가지 함수와 slicing, indexing

In [48]:
len('apple')

5

### (1) indexing
python은 index가 0부터 시작합니다!

'apple'

0번 index - a

1번 index - p

2번 index - p

3번 index - l

4번 index - e

In [49]:
a = 'apple'

In [50]:
a[0]

'a'

In [51]:
'apple'[0]

'a'

In [52]:
a[4]

'e'

In [53]:
a[-1]

'e'

'apple' 끝에서부터 세기

-5번 index - a

-4번 index - p

-3번 index - p

-2번 index - l

-1번 index - e

In [54]:
a[-3]

'p'

In [55]:
a[-5]

'a'

In [56]:
python = 'Life is to short. You need Python.'

In [57]:
python[0]+python[1]+python[2]+python[3]

'Life'

### (2) slicing

In [59]:
python[0:4] # index가 0이상 4미만에 해당하는 모든 string을 return하세요.

'Life'

In [60]:
python[:]

'Life is to short. You need Python.'

In [61]:
python[0:-1]

'Life is to short. You need Python'

In [63]:
python[5:] # index 5이상, 끝까지

'is to short. You need Python.'

In [64]:
python[:4] # 처음부터 index 4미만까지

'Life'

### (3) String is immutable

바꿀 수 없다.

In [65]:
a = 'Pithon'

In [66]:
a[1]

'i'

In [67]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [68]:
a[0] + 'y' + a[2:]

'Python'

In [69]:
a = 'pithon'
a = 'python'

In [70]:
print(a) # 이럴 땐 그냥 덮어쓰세요!

python

### (4) 여러 가지 함수 (이해를 돕기 위해 함수라고 썼지만 사실은 method예요)

- 함수 : 함수(값)
- 메쏘드 : 데이터.메쏘드(필요한것들)

In [71]:
a = 'hobby'

In [72]:
a.count('b') # a라는 string 안에 'b'가 몇 개 들어있는 지 알려줌

2

In [73]:
a.count('n')

0

In [74]:
python = 'Life is too short. You need Python'

In [75]:
python.find('o') # 주어진 string의 가장 첫번째에 나오는 o의 index를 return

9

In [76]:
python.find('k') # -1이 나오면 '없다'

-1

In [77]:
python.index('o')

9

In [79]:
python.index('k')

ValueError: substring not found

abcd -> a,b,c,d 이럴 때는 어떻게 해야 할까요?

In [80]:
','.join('abcd')

'a,b,c,d'

In [81]:
a = 'hi'
a.upper()

'HI'

In [82]:
b = 'HELLO'
b.lower()

'hello'

In [83]:
"Pithon".replace('i', 'y')

'Python'

## 3-3 Formatting

In [85]:
# print 할 때 콤마(,)로 연결할 수 있어요!
print('apple', 'banna')

apple banna

In [84]:
a = 22

In [86]:
print('temperature is:',a)

temperature is: 22

### (1) 가장 기본적인 formatting (% 사용)
- d : integer
- f : float
- s : string

In [87]:
print('temperature is %d' % a)

temperature is 22

In [90]:
b=3

In [91]:
print('I ate %d apples today' % b)

I ate 3 apples today

In [92]:
d = 'dog'

In [94]:
print('I love %s'%d)

I love dog

In [95]:
c = '3'
print('I ate %s apples today' % c)

I ate 3 apples today

In [102]:
print('error rate is %f %%'%0.3)
# %를 써서 formatting을 할 때는 우리가 아는 퍼센트 기호는 %% 를 써야 나와요!

error rate is 0.300000 %

In [100]:
print('error rate is 0.3 %')

error rate is 0.3 %

In [104]:
print('error rate is %0.3f%%'%0.949328749327415423413)
# 0.xf : 소수 x번째 자리만큼 float type으로 출력해라.

error rate is 0.949%

In [106]:
print('error rate is %d%%'%0.949328749327415423413)
#float을 넣었는데 formatting에서 d를 넣으라고 시키면 그 float의 '정수부분'이 나와요.

error rate is 0%