**문제1) 연산기호를 이용해 수식으로 표현해보고 그 결과를 확인해보세요.**

* integer 25와 integer 12를 더하시오.
* integer 13에서 integer 19를 빼시오.
* integer 92과 float 8.0 을 곱하시오.
* float 81.5을 float 2.0으로 나누시오.
* integer 7를 5로 나눴을 때, 몫을 구하시오.
* interger 100을 interger 7로 나눈 나머지를 구하시오.
* integer 3의 세제곱을 구하시오.

In [1]:
25+12

37

In [2]:
13-19

-6

In [3]:
92*8.0

736.0

In [4]:
81.5/2.0

40.75

In [5]:
7//5

1

In [6]:
100%7

2

In [7]:
3**3

27

**문제2) 다음 각각의 자료형을 말하고, 코드를 작성하여 결과를 확인해보세요.**

* `3`
* `3.0`
* `'3'`
* `'3.0'`
* `"3"`
* `"3.0"`

In [8]:
# integer
type(3)

int

In [9]:
# float
type(3.0)

float

In [11]:
# string
type('3')

str

In [12]:
# string
type('3.0')

str

In [13]:
# string
type("3")

str

In [14]:
# string
type("3.0")

str

**문제3) 우유 가격은 1830원이고, 아이스크림 가격은 1500원입니다. 아이스크림은 3개이상 구입시 5%를 할인해줍니다. 우유 2개와 아이스크림 3개를 구입할 때 지불해야 하는 가격을 변수를 활용하여 코드로 작성해보세요.**

In [51]:
a=2
b=3
milk=1830*a
icecream=1500*b
if b>=3:
    icecream=icecream*0.95
print(milk+icecream)

7935.0

**문제4) 1㎡는 0.3025평입니다. 84㎡는 몇 평인가요? 반대로 30평은 몇 ㎡인가요?**

In [26]:
width=0.3025
print(width*84)
print(width*30)

25.41
9.075

**문제5) 100만원을 월이율 3%인 예금에 1년간 복리로 은행에 맡겼습니다. 1년후에 받는 돈은 얼마인지를 확인하는 코드를 작성해보세요. 출력된 결과는 아래와 같습니다.**

> 1년 후 받는 원금 + 이자는 OOO원입니다.

In [29]:
capital=1000000
int_rate=0.03
total=capital*(1+int_rate)**12
print('1년 후 받는 원금 + 이자는 %f원입니다.' % total)

1년 후 받는 원금 + 이자는 1425760.886846원입니다.

**문제6) string 연산을 이용하여 다음의 실행결과가 나오도록 코드를 작성해보세요.**

(1)

```
안녕하세요. 안녕하세요. 안녕하세요.
```

(2)
```
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
```

In [55]:
print('안녕하세요. '*3)
print('\n')
print('안녕하세요.\n'*5)

안녕하세요. 안녕하세요. 안녕하세요.


안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

**문제7) `dogs`와 `cats` 두 개의 변수가 다음과 같이 assign되었습니다.**  
`dogs, cats = '12', '7'`  

(1) `dogs`와 `cats` 변수에 할당된 값의 자료형을 확인해보세요.  
(2) 강아지가 고양이보다 몇 마리 더 많은지 확인하는 코드를 작성해보세요. 출력된 결과는 아래와 같은 형식입니다. formatting을 사용해서 표현해보세요.
> 강아지가 고양이보다 n 마리 더 많다.

In [69]:
dogs=12
cats=7
print(type(dogs), type(cats))
if dogs>cats:
    n=dogs-cats
    print('강아지가 고양이보다 %d마리 더 많다.' % n)

<class 'int'> <class 'int'>
강아지가 고양이보다 5마리 더 많다.

**문제8) 다음 문제에 답해봅시다.**   

`colors = 'red blue yellow'`  

1) `colors`에서 `b`를 추출하는 코드를 작성해보세요.

In [72]:
colors = 'red blue yellow'
colors[4]

'b'

2) `colors`에서 `low`를 추출하는 코드를 작성해보세요.

In [74]:
colors = 'red blue yellow'
colors[-3:]

'low'

3) `colors`에서 `due`를 추출하는 코드를 작성해보세요.

In [76]:
colors = 'red blue yellow'
colors[2]+colors[6:8]

'due'

**문제9) 다음 문제에 답해봅시다.**  

1) `'12345' * 3` 한 것을 변수 `nums`에 할당해보세요.

In [77]:
nums='12345'*3

2) `nums`에서 `111`을 추출하는 코드를 작성해보세요.

In [78]:
nums='12345'*3
nums[0]+nums[5]+nums[10]

'111'

3) `nums`에서 `555`을 추출하는 코드를 작성해보세요.

In [79]:
nums='12345'*3
nums[4]+nums[9]+nums[14]

'555'

**문제10) 다음 중 variable의 이름으로 적당하지 않은 것은? 그리고 그 이유는?**  

1) `WelshCorgi`
2) `20231225`
3) `__dog`

20231225, 숫자로 시작하기 때문에

**문제11) 아래 cell을 실행하면 for loop이 돌면서 11개의 문장을 차례대로 출력합니다. i에는 차례대로 0, 1, 2, ..., 9 가 할당 (assign) 되어있습니다. 우리는 아래 cell을 수정해서 다음과 같은 출력을 내고 싶습니다. 어떻게 해야 할까요?**

HINT) print(i+1) 부분을 수정하면 됩니다! i+1은 건들면 안 돼요.


`나무 1번 찍습니다.`

`나무 2번 찍습니다.`

`나무 3번 찍습니다.`

`나무 4번 찍습니다.`

`나무 5번 찍습니다.`

`나무 6번 찍습니다.`

`나무 7번 찍습니다.`

`나무 8번 찍습니다.`

`나무 9번 찍습니다.`

`나무 10번 찍습니다.`

`나무 넘어갑니다.`

In [86]:
for i in range(10):
    print(i+1)
    if i==9:
        print('나무 넘어갑니다.')

1
2
3
4
5
6
7
8
9
10
나무 넘어갑니다.

In [87]:
for i in range(10):
    n=i+1
    print('나무 %d번 찍습니다.' % n)
    if i==9:
        print('나무 넘어갑니다.')

나무 1번 찍습니다.
나무 2번 찍습니다.
나무 3번 찍습니다.
나무 4번 찍습니다.
나무 5번 찍습니다.
나무 6번 찍습니다.
나무 7번 찍습니다.
나무 8번 찍습니다.
나무 9번 찍습니다.
나무 10번 찍습니다.
나무 넘어갑니다.

**문제12) 아래 문장의 오타를 전부 고쳐서 출력해보세요.**

In [5]:
sentence = 'My name ist Stella. I love puppppies and chocolata.'

In [95]:
sentence = 'My name ist Stella. I love puppppies and chocolata.'
sentence[:10]+sentence[11:31]+sentence[33:49]+'e'+sentence[-1]

'My name is Stella. I love puppies and chocolate.'

**문제13) 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력해보세요.**

In [7]:
license_plate = "28가 2291"

In [96]:
license_plate = "28가 2291"
license_plate[-4:]

'2291'

**문제14) 다음의 전화번호에서 하이픈 ('-')을 제거하고 다음과 같이 출력해보세요.**

`010 1234 5678`

In [6]:
phone_number = "010-1234-5678"

In [100]:
phone_number = "010-1234-5678"
phone_number[:3]+phone_number[4:8]+phone_number[9:]

'01012345678'

**문제15) 아래 문장의 맨 첫 글자만 대문자로 바꿔서 출력해보세요.**

In [ ]:
sentence2 = 'we wish you a merry Christmas'

In [101]:
sentence2 = 'we wish you a merry Christmas'
sentence2[0].upper()+sentence2[1:]

'We wish you a merry Christmas'